<div *ngIf="!isLoading && !isError">
   <h2>{{todoGroup.title}}</h2>
   <hr>
   <p><b>Body:</b></p>
   <p>{{todoGroup.body}}</p>
   <hr>
   <span class="d-block"><b>Tags:</b></span><br>
   <div class="tags">
      <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
         (cdkDropListDropped)="drop($event)">
         <mat-chip class="example-box" cdkDrag *ngFor="let tag of todoGroup.tags">
            {{tag.name}}
         </mat-chip>
      </mat-chip-list>
   </div>
   <hr>
   <br>
   <span class="d-block"><b>Todos</b></span>
   <br>
   <mat-form-field>
      <mat-label>Filter by title</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
   </mat-form-field>
   <div class="empty text-center" *ngIf="todos.length == 0" >
      Empty<br>No todos found
   </div>
   <div class="table-responsive" *ngIf="todos.length > 0">
      <table class="table table-hover ">
         <thead>
           <tr>
             <th scope="col">No.</th>
             <th scope="col">Title</th>
             <th scope="col">created at</th>
             <th scope="col">status</th>
             <th scope="col">Options</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let todo of todos; let i = index" (click)="gotoTodo(todo._id)" class="clickable">
             <th scope="row">{{i}}</th>
             <td  >{{todo.title}}</td>
             <td>{{todo.createdAt}}</td>
             <td>{{todo.status}}</td>
             <td>
                
             </td>
           </tr>
         </tbody>
       </table>
   </div>
</div>
<div *ngIf="isLoading && !isError" class="d-flex justify-content-center align-items-center">
   <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
   </div>
</div>
<div *ngIf="!isLoading && isError">
   <div class="text-center">
      
      <img src="../../assets/images/not-found.jpg" alt="" class="img-fluid">
      <h2>
         Unable to get todo group :'(
      </h2>
   </div>
</div>