.table{
    overflow-x: scroll;
}
.marked{
    text-decoration: line-through;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.5s all;
}
.clickable{
    cursor: pointer;
}
.title{
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 1;
    transition: 0.5s all;
}
.deleted{
    opacity: 0;
    transition: 0.5s all;
}